<?xml version="1.0" encoding="utf-8"?>

<configuration>

<appSettings>
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:using:Expressions" value="Serilog.Expressions" />
    <add key="serilog:minimum-level" value="Information" />

    <!--RollingFile: App log-->
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="./Logs/myapp-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss},{Level:u},{Message}{NewLine}" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />


    <!-- Basic Serilog configuration: Stats logs -->
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:write-to:File.path" value="./Logs/statslogs.csv" />
    <add key="serilog:write-to:File.shared" value="true" />
    <add key="serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss},{Level:u},{Message}{NewLine}" />
    <add key="serilog:filter:ByIncludingOnly.expression" value="IsStatistic = true" />
    
</appSettings>

</configuration>